.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;
  background: #2f3676;
  border-radius: 7px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;


  &:hover {
    background: #191847;
  }

  &--disabled {
    background: #c5cfd6;
    color: #555;
    cursor: auto;

    &:hover {
      background: #c5cfd6;
    }
  }
}
