@import "../../assets/styles/style.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;
  background-color: $button-primary;
  border-radius: 7px;
  color: $white;
  border: none;
  cursor: pointer;
  font-size: $size-medium;
  font-weight: $weight-bold;

  &:hover {
    background-color: $button-hover;
  }

  &--disabled {
    background-color: $button-disabled;
    color: $button-font-disabled;
    cursor: auto;

    &:hover {
      background-color: $button-disabled;
    }
  }
}
