@import "../../assets/styles/style.scss";

.stickers {
  &__containers {
    margin: 32px;
  }

  &__title {
    font-size: $size-medium;
    font-weight: $weight-normal;
    margin-bottom: 16px;
  }

  &__controllers {
    display: flex;
  }

  &__input {
    @include input-controllers;
    border: $primary-border;

    &--error {
      @include input-controllers;
      border: 1px solid $label-error;
      background-color: $error;
    }
  }

  &__textarea {
    width: 496px;
    height: 141px;
    resize: none;
    padding: 16px;
    background: $grey;
    border: $primary-border;
    border-radius: 4px;
    outline: none;
    font-size: $size-small;
    line-height: 24px;
    font-weight: $weight-thin;
  }
}
