.stickers {
  &__containers {
    margin: 32px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__controllers {
    display: flex;
    justify-content: space-between;
    max-width: 160px;
  }

  &__input {
    max-width: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #2f3676;
    border-radius: 4px;
    outline: none;

    &--error {
      max-width: 60px;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      border: 1px solid #F33232;
      background-color: #F59393;
      border-radius: 4px;
      outline: none;
    }
  }

  &__textarea {
    width: 496px;
    height: 141px;
    resize: none;
    padding: 16px;
    background: #dde3e9;
    border: 1px solid #2f3676;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  &__footer {
    width: 100%;
    height: 100px;
    background: #dde3e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;

    &--message {
      font-size: 18px;
      font-weight: 600;
      color: #00C57C;
    }

    &--button {
      width: 132px;
      height: 40px;
      text-transform: uppercase;
    }
  }
}
