@import '../../assets/styles/style.scss';

.header {
  background: url($header-img);
  width: 100%;
  min-height: 186px;

  &__title {
    font-size: $size-large;
    font-weight: $weight-xthin;
    color: $white;
    padding: 24px 32px;

    &--bold {
      font-weight: $weight-bold;
      line-height: 2.8rem;
    }
  }
}
