@import '../../assets/styles/style.scss';

.checkbox {
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: $size-small;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .checkbox__container--checkmark,
      &:checked ~ .checkbox__container--error {
        background-color: $button-primary;

        &:after {
          display: block;
        }
      }
    }

    &--title {
      padding-top: 4px;
    }

    &--labelError {
      padding-top: 4px;
      color: $label-error
    }

    &--checkmark {
      @include config-position-absolute;
      background-color: $button-primary;
      

      &:after {
        @include after-checkbox;
      }
    }

    &:hover input ~ &--checkmark {
      background-color: $button-hover
    }

    &--error {
      @include config-position-absolute;
      background-color: $error;

      &:after {
        @include after-checkbox;
      }
    }

    &--disabled {
      @include config-position-absolute;
      background-color: $button-disabled;
    }
  }
}
