@import './variables';

/* mixins */
@mixin after-checkbox {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@mixin config-position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 4px;
}

@mixin input-controllers {
  max-width: 60px;
  margin: 0 8px;
  text-align: center;
  font-size: 20px;
  font-weight: $weight-bold;
  border-radius: 4px;
  outline: none;
}